.clearfix::before, .clearfix::after {
  display: table;
  content: " ";
}

.clearfix::after {
  clear: both;
}

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
	 ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
	 ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

header, nav, section, article, aside, footer, main {
  display: block;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

ul, ol {
  list-style: none;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@font-face {
  font-family: "evolventabold";
  src: url("../fonts/evolventa-bold.woff2") format("woff2"), url("../fonts/evolventa-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "evolventaregular";
  src: url("../fonts/evolventa-regular.woff2") format("woff2"), url("../fonts/evolventa-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: "evolventaregular", Arial, Helvetica, sans-serif;
}

.review-card__service-name, .hero__slogan, .main-nav__logo, h2 {
  font-family: "evolventabold", Arial, Helvetica, sans-serif;
}

html {
  font-size: 10px;
  color: #1d1e0f;
  font-weight: initial;
}

body {
  background-color: #fff;
}

section {
  width: 100%;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper_all-centered {
  height: 100vh;
}

.content-wrapper {
  padding: 0 60px;
}
@media (width < 768px) {
  .content-wrapper {
    padding: 0 30px;
  }
}

.block_double {
  display: flex;
  flex-wrap: wrap;
}
.block_double > * {
  flex: 1;
}

h2 {
  font-size: 7rem;
  font-weight: initial;
}
@media (width < 768px) {
  h2 {
    font-size: 11vw;
    font-weight: initial;
  }
}

h3 {
  padding: 30px 0 21px;
  position: relative;
  font-size: 4.5rem;
  font-weight: initial;
  text-transform: uppercase;
  border-bottom: 1px solid #1d1e0f;
}
h3::after {
  content: "";
  position: absolute;
  display: block;
  height: 14px;
  width: 14px;
  background-color: #1d1e0f;
  border: 4px solid #fff;
  border-radius: 100%;
  bottom: -7px;
  left: calc(50% - 7px);
}
@media (width < 768px) {
  h3 {
    font-size: 6vw;
    font-weight: initial;
  }
}

p {
  font-size: 2rem;
  color: #414542;
  font-weight: initial;
  line-height: 1.4;
  text-align: justify;
}

a {
  display: inline-block;
  position: relative;
  font-size: 1.7rem;
  font-weight: initial;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}
a::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #fff;
  opacity: 0.5;
  transition: width 0.3s ease-out;
}
a:hover {
  opacity: 0.5;
}
a:hover::after {
  width: 100%;
}

.sections-header {
  display: flex;
  padding-left: 60px;
  padding-top: 58px;
  padding-bottom: 45px;
  text-transform: uppercase;
}
@media (width < 768px) {
  .sections-header {
    padding-left: 30px;
  }
}
.sections-header span {
  flex: 1;
  position: relative;
  margin-left: 20px;
  color: #fff;
  font-weight: initial;
  background-color: #1d1e0f;
}
.sections-header span::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.135em;
  top: 0;
  background-color: #fff;
}
.sections-header span::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.28em;
  bottom: 0;
  background-color: #fff;
}

.icon {
  display: block;
  width: 25px;
  height: 25px;
  transition: all 0.3s;
  background-size: contain;
  cursor: pointer;
}
.icon_telegram {
  background-image: url(../img/icons/telegram.svg);
}
.icon_instagram {
  background-image: url(../img/icons/instagram.svg);
}
.icon_vk {
  background-image: url(../img/icons/vk.svg);
}
.icon:hover {
  opacity: 0.5;
  scale: 120%;
}

.button {
  position: relative;
  display: inline-block;
  padding: 20px 20px 14px;
  border: none;
  font-size: 2.5rem;
  color: #fff;
  font-weight: initial;
  text-transform: uppercase;
  background-color: #e2504d;
  transition: all 0.3s;
  cursor: pointer;
}
.button:hover {
  background-color: #f0a6a5;
  scale: 110%;
}
.button:disabled {
  opacity: 0.25;
  cursor: default;
}

.main-header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  height: 100vh;
  width: 100%;
  min-height: 720px;
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
}
@media (width < 768px) {
  .main-header {
    min-height: 640px;
    background-image: url(../img/mobile-bg.jpg);
  }
}

.main-nav {
  display: flex;
  align-items: center;
  padding: 24px 40px;
}
@media (width < 768px) {
  .main-nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    background-color: #5c675f;
  }
}

.main-nav__logo {
  position: relative;
  padding-right: 40px;
  font-size: 2.4rem;
  font-weight: initial;
  text-transform: uppercase;
}
.main-nav__logo::after {
  display: none;
}
.main-nav__logo:hover {
  transform: scale(1.2);
}
@media (width < 768px) {
  .main-nav__logo {
    z-index: 1;
    padding-right: 0;
  }
}

.main-nav__list, .main-social-list {
  display: flex;
}

.main-nav__list {
  margin-top: 2px;
}
@media (width < 900px) {
  .main-nav__list {
    margin-left: auto;
  }
}
@media (width < 768px) {
  .main-nav__list {
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 100%;
    height: 100vh;
    padding: 115px 40px;
    margin: 0;
    background-color: #8f9a92;
    transition: 0.3s all;
  }
}

.main-nav__item {
  padding-right: 25px;
}
@media (width < 900px) {
  .main-nav__item:last-child {
    padding-right: 0;
  }
}
@media (width < 768px) {
  .main-nav__item {
    margin-bottom: 30px;
    padding-right: 0;
  }
}

.main-nav__link {
  position: relative;
  padding: 10px 0;
  font-size: 1.5rem;
  font-weight: initial;
}
@media (width < 768px) {
  .main-nav__link {
    font-size: 2.6rem;
    font-weight: initial;
  }
}
.main-nav__link::after {
  bottom: 6px;
}

.main-nav__phone {
  margin-top: 4px;
  margin-left: auto;
}
@media (width < 1070px) {
  .main-nav__phone {
    display: none;
  }
}

@media (width < 1070px) {
  .main-social-list {
    margin-left: auto;
  }
}
@media (width < 900px) {
  .main-social-list {
    display: none;
  }
}
@media (width < 768px) {
  .main-social-list {
    display: flex;
    margin-left: 0;
  }
}

.main-social-list__item {
  padding-left: 20px;
}
.main-social-list__item:first-child {
  padding-left: 40px;
}
@media (width < 1070px) {
  .main-social-list__item:first-child {
    padding-left: 0;
  }
}
.main-social-list__item a::after {
  display: none;
}

.burger {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26px;
  width: 26px;
  margin-top: -5px;
  cursor: pointer;
  transition: 0.3s all;
}
.burger span {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}
.burger_active {
  transform: rotate(90deg);
}
@media (width >= 760px) {
  .burger {
    display: none;
  }
}

.main-nav__list_show {
  transform: translateX(100%);
  box-shadow: 0 10px 20px #2c312d;
}
.main-nav__list_show::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.5);
}

.hero {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 60px;
}
@media (width < 768px) {
  .hero {
    justify-content: space-evenly;
    align-items: stretch;
    margin-top: 75px;
    padding: 0 30px;
  }
}

.hero__slogan {
  font-size: 4.5rem;
  font-weight: initial;
  line-height: 1.35;
  text-transform: uppercase;
  text-shadow: 0px 10px 20px #414542;
}
@media (width < 768px) {
  .hero__slogan {
    text-align: center;
    font-size: 6vw;
    font-weight: initial;
  }
}
.hero__slogan span {
  font-size: 1.1em;
  font-weight: initial;
}

.hero__image-placeholder {
  width: 213px;
  height: 213px;
  align-self: center;
  overflow: hidden;
  border-radius: 100%;
  border: 5px solid #fafafa;
  box-shadow: 0px 5px 20px #414542;
}
@media (width >= 768px) {
  .hero__image-placeholder {
    display: none;
  }
}

.hero__master-image {
  width: 100%;
  height: auto;
}

.hero-services__list {
  font-size: 2.6rem;
  font-weight: initial;
  line-height: 1.7;
  padding-left: 30px;
}
@media (width < 768px) {
  .hero-services__list {
    padding-left: 0;
    font-size: 4.5vw;
    font-weight: initial;
  }
}

.hero-services__item {
  position: relative;
}
@media (width < 768px) {
  .hero-services__item {
    text-align: center;
  }
}

.hero-services__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  left: -24px;
  border-radius: 100%;
  background-color: #fff;
  top: 50%;
  transform: translateY(calc(-50% - 1px));
}
@media (width < 768px) {
  .hero-services__item::before {
    display: none;
  }
}

.hero__button {
  padding: 30px 50px;
  letter-spacing: 2px;
}
@media (width < 768px) {
  .hero__button {
    align-self: center;
    padding: 1em 1em 0.9em;
    font-size: 4vw;
    font-weight: initial;
  }
}

.about-me {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
  padding: 60px 0 0 60px;
}
@media (width < 768px) {
  .about-me {
    padding: 60px 0 0 30px;
  }
}

.about-me__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 55;
  padding-left: 60px;
}
@media (width < 800px) {
  .about-me__content {
    padding-left: 0;
  }
}

.about-me__image-placeholder {
  flex: 45;
  position: relative;
}
.about-me__image-placeholder::after {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  background-color: #1d1e0f;
  top: -15px;
  left: -15px;
}
@media (width < 800px) {
  .about-me__image-placeholder {
    display: none;
  }
}

.about-me__image {
  width: 100%;
  height: auto;
}

.about-me__headline {
  display: flex;
  text-transform: uppercase;
  margin-bottom: 36px;
}
.about-me__headline span {
  flex-grow: 1;
  margin-left: 15px;
  padding-left: 10px;
  padding-top: 7px;
  margin-top: -7px;
  color: #fff;
  background-color: #1d1e0f;
}

.about-me__text-placeholder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 60px;
}
@media (width < 768px) {
  .about-me__text-placeholder {
    padding-right: 30px;
  }
}

.about-me__text {
  margin-bottom: 30px;
}

.about-me__slogan {
  margin: 0;
  padding-top: 60px;
  margin-top: 30px;
  position: relative;
  color: #e2504d;
  font-weight: initial;
  border-top: 1px solid #1d1e0f;
}
.about-me__slogan::after {
  content: "";
  position: absolute;
  display: block;
  height: 14px;
  width: 14px;
  background-color: #1d1e0f;
  border: 4px solid #fff;
  border-radius: 100%;
  top: -7px;
  left: calc(50% - 7px);
}

.services .content-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
}

.service-block {
  width: 50%;
  padding: 30px;
}
@media (width >= 800px) {
  .service-block:nth-child(-n+2) {
    padding-top: 0;
  }
  .service-block:nth-child(n+2) {
    padding-bottom: 0;
  }
}
@media (width < 800px) {
  .service-block {
    width: 100%;
  }
  .service-block:first-child {
    padding-top: 0;
  }
  .service-block:last-child {
    padding-bottom: 0;
  }
}
@media (width < 768px) {
  .service-block {
    padding: 0 0 30px;
  }
  .service-block:last-child {
    padding-bottom: 0;
  }
}

.service-block__image {
  height: 150px;
  border: 1px solid #1d1e0f;
  background-image: url(../img/service-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.service-block__main-content {
  padding: 0 30px;
  border-left: 1px solid #1d1e0f;
  border-right: 1px solid #1d1e0f;
}

.service-block__about {
  margin: 0;
  padding: 30px 0;
  font-size: 2rem;
  font-weight: initial;
}

.service-block__price-content {
  display: flex;
  align-items: flex-end;
  position: relative;
  padding: 30px;
  padding-top: 0;
  border: 1px solid #1d1e0f;
  border-top: 0;
}
.service-block__price-content > * {
  flex-grow: 1;
}
@media (width < 900px) {
  .service-block__price-content {
    flex-direction: column;
    align-items: stretch;
  }
}
@media (width < 800px) {
  .service-block__price-content {
    flex-direction: row;
    align-items: flex-end;
  }
}
@media (width < 768px) {
  .service-block__price-content {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (width < 900px) {
  .price-block {
    padding-bottom: 30px;
  }
}
@media (width < 800px) {
  .price-block {
    padding-bottom: 0;
  }
}

.service-block__price-block {
  display: flex;
  flex-direction: column;
}

.price-block__price-option:first-child {
  padding-bottom: 15px;
}
.price-block__price-option > * {
  display: block;
}
@media (width < 768px) {
  .price-block__price-option {
    padding-bottom: 30px;
  }
}

.price-block__header {
  font-size: 1.5rem;
  color: #8f9a92;
  font-weight: initial;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.price-block__price {
  font-family: "evolventabold", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #1d1e0f;
  font-weight: initial;
  text-transform: uppercase;
}

.portfolio__about {
  padding-bottom: 30px;
}
.portfolio__about p {
  margin: 0;
}

.slider {
  position: relative;
}
.slider > img {
  margin: 0 16px;
}

.slider__image-placeholder {
  display: flex;
  overflow: hidden;
  max-height: 400px;
}
@media (width < 768px) {
  .slider__image-placeholder > img {
    min-width: 100%;
    height: auto;
  }
}

.slider__button {
  position: absolute;
  height: 90px;
  width: 90px;
  overflow: hidden;
  text-indent: 100px;
  cursor: pointer;
  border-radius: 100%;
  top: calc(50% - 45px);
  background-color: #e6e6e6;
  transition: 0.3s all;
}
.slider__button::before {
  content: "";
  position: absolute;
  display: block;
  width: 90px;
  height: 90px;
  background-image: url(../img/arrows.png);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
}
.slider__button:hover {
  transform: scale(1.2);
  opacity: 0.7;
}

.slider__button_left {
  left: -45px;
}

.slider__button_right {
  right: -45px;
  transform: rotate(180deg);
}
.slider__button_right:hover {
  transform: rotate(180deg) scale(1.2);
}

.styles-card {
  display: flex;
  border: 1px solid #1d1e0f;
}
.styles-card button {
  width: 100%;
}
@media (width < 900px) {
  .styles-card {
    flex-direction: column-reverse;
  }
}

.styles-card__text-placeholder {
  flex: 1;
  padding: 60px;
  border-right: 1px solid #1d1e0f;
}
@media (width < 900px) {
  .styles-card__text-placeholder {
    border-right: none;
    border-top: 1px solid #1d1e0f;
  }
}
@media (width < 768px) {
  .styles-card__text-placeholder {
    padding: 30px;
  }
}

.styles-card__slider-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
  padding: 60px;
}
@media (width < 768px) {
  .styles-card__slider-placeholder {
    padding: 30px;
  }
}
.styles-card__slider-placeholder img {
  width: 100%;
}

.styles-card__header {
  text-align: center;
  text-transform: uppercase;
}
.styles-card__header h3, .styles-card__header span {
  font-size: 6.5rem;
  font-weight: initial;
}
@media (width < 768px) {
  .styles-card__header h3, .styles-card__header span {
    font-size: 8vw;
    font-weight: initial;
  }
}

.style-card__name-divider {
  line-height: 0.2;
}

.styles-card__style-name {
  display: block;
  color: #e2504d;
  font-weight: initial;
  line-height: 1;
}

.styles-card__about-style span {
  color: #e2504d;
  font-weight: initial;
}

@media (width < 768px) {
  .styles-card__button {
    font-size: 2rem;
    font-weight: initial;
  }
}

.review-card {
  width: 50%;
  padding: 30px;
  border: 1px solid #1d1e0f;
  margin: 0 30px;
}
.review-card:first-child {
  margin-left: 0;
}
.review-card:last-child {
  margin-right: 0;
}

.review-card__header-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.review-card__header-placeholder img {
  border-radius: 100%;
  max-width: 213px;
}
@media (width < 1300px) {
  .review-card__header-placeholder {
    flex-direction: column;
  }
}

.review-card__header {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
@media (width < 1300px) {
  .review-card__header {
    margin: 0;
    padding-top: 30px;
  }
}

.review-card__customer-name {
  font-size: 4.5rem;
  font-weight: initial;
  text-transform: uppercase;
}
@media (width < 1300px) {
  .review-card__customer-name {
    padding-bottom: 15px;
    font-size: 8vw;
    font-weight: initial;
    text-align: center;
  }
}

.review-card__about-service {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #8f9a92;
  font-weight: initial;
}
@media (width < 1300px) {
  .review-card__about-service {
    text-align: center;
    padding-bottom: 7px;
  }
}

.review-card__service-name {
  font-size: 1.5rem;
  font-weight: initial;
  text-transform: uppercase;
}
@media (width < 1300px) {
  .review-card__service-name {
    text-align: center;
  }
}

.review-card__text-placeholder {
  text-align: right;
  padding-top: 30px;
}
.review-card__text-placeholder p {
  margin-top: 0;
  margin-bottom: 30px;
}
@media (width < 400px) {
  .review-card__text-placeholder {
    text-align: center;
  }
}

.review__customer-link {
  font-size: 1.5rem;
  color: #8f9a92;
  font-weight: initial;
  text-transform: uppercase;
  text-align: right;
}
.review__customer-link::after {
  background-color: #8f9a92;
}

.reviews .slider__image-placeholder {
  max-height: none;
  flex-wrap: nowrap;
}

@media (width < 900px) {
  .reviews .review-card {
    min-width: 100%;
  }
}

.contacts-card__text-placeholder, .contacts-card__form-placeholder {
  padding: 60px 30px;
  outline: 1px solid #1d1e0f;
}

.contacts-card__form-placeholder {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

.contacts-card__form-placeholder .contacts-card__header::after {
  border-color: #f0f0f0;
}

.contacts-card__header {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  font-size: 4rem;
  font-weight: initial;
  text-transform: uppercase;
  border-bottom: 1px solid #1d1e0f;
}
.contacts-card__header::after {
  content: "";
  position: absolute;
  display: block;
  height: 14px;
  width: 14px;
  background-color: #1d1e0f;
  border: 4px solid #fff;
  border-radius: 100%;
  bottom: -7px;
  left: calc(50% - 7px);
}
@media (width < 768px) {
  .contacts-card__header {
    font-size: 7vw;
    font-weight: initial;
  }
}

.contacts-card__about-contacts {
  margin: 30px 0 64px;
}

.contacts-list {
  padding-left: 26px;
}
@media (width < 768px) {
  .contacts-list {
    padding-left: 0;
  }
}

.contacts-list__item {
  padding-bottom: 30px;
}
.contacts-list__item:last-child {
  padding-bottom: 0;
}
.contacts-list__item a {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: initial;
  text-transform: uppercase;
}
@media (width < 768px) {
  .contacts-list__item a {
    font-size: 4.3vw;
    font-weight: initial;
  }
}

.contacts-card__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 26px;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (width < 768px) {
  .contacts-card__icon {
    margin-right: 12px;
  }
}
.contacts-card__icon_phone {
  background-image: url(../img/icons/phone.svg);
}
.contacts-card__icon_email {
  background-image: url(../img/icons/email.svg);
}
.contacts-card__icon_twit {
  background-image: url(../img/icons/telegram_black.svg);
}
.contacts-card__icon_inst {
  background-image: url(../img/icons/instagram_black.svg);
}

.contacts-card__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 30px;
}
.contacts-card__form > input, .contacts-card__form textarea {
  width: 100%;
  padding: 25px;
  margin-bottom: 30px;
  background-color: #fafafa;
  border: 0;
  resize: vertical;
  font-size: 2.5rem;
  color: #8f9a92;
  font-weight: initial;
}
.contacts-card__form > input:focus, .contacts-card__form textarea:focus {
  outline: 1px solid #1d1e0f;
}
.contacts-card__form > input::-moz-placeholder, .contacts-card__form textarea::-moz-placeholder {
  font-size: 2.5rem;
  color: #bcc6be;
  font-weight: initial;
}
.contacts-card__form > input::placeholder, .contacts-card__form textarea::placeholder {
  font-size: 2.5rem;
  color: #bcc6be;
  font-weight: initial;
}
@media (width < 768px) {
  .contacts-card__form > input::-moz-placeholder, .contacts-card__form textarea::-moz-placeholder {
    font-size: 2rem;
    font-weight: initial;
  }
  .contacts-card__form > input::placeholder, .contacts-card__form textarea::placeholder {
    font-size: 2rem;
    font-weight: initial;
  }
}
@media (width < 768px) {
  .contacts-card__form > input, .contacts-card__form textarea {
    font-size: 2rem;
    font-weight: initial;
    padding: 20px;
  }
}
@media (width < 768px) {
  .contacts-card__form textarea {
    height: 160px;
  }
}

.contacts-card__personal-data-placeholder {
  display: flex;
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: initial;
  text-transform: uppercase;
}
.contacts-card__personal-data-placeholder > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.contacts-card__personal-data-placeholder > input:checked + label::before {
  background-image: url(../img/icons/circle.svg);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}
.contacts-card__personal-data-placeholder label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (width < 768px) {
  .contacts-card__personal-data-placeholder label {
    align-items: start;
  }
}
.contacts-card__personal-data-placeholder label::before {
  content: "";
  flex-shrink: 0;
  margin-right: 10px;
  margin-bottom: 3px;
  width: 24px;
  height: 24px;
  border: 2px solid #1d1e0f;
  background-color: #fafafa;
}

.contacts-card__button {
  margin-top: auto;
  align-self: flex-end;
}
@media (width < 768px) {
  .contacts-card__button {
    align-self: stretch;
  }
}

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 60px;
  margin-top: 60px;
  min-height: 200px;
  background-color: #1d1e0f;
}
@media (width < 800px) {
  .footer {
    flex-direction: column;
    align-items: stretch;
    padding: 60px 30px 0;
  }
}
.footer p {
  font-size: 2rem;
  color: #fafafa;
  font-weight: initial;
  text-transform: uppercase;
  margin: 0;
}
@media (width < 1000px) {
  .footer p {
    font-size: 1rem;
    font-weight: initial;
  }
}
@media (width < 800px) {
  .footer p {
    margin-bottom: 60px;
    font-size: 2rem;
    font-weight: initial;
    text-align: center;
  }
}
.footer a {
  font-size: 2rem;
  font-weight: initial;
}
@media (width < 1000px) {
  .footer a {
    font-size: 1rem;
    font-weight: initial;
  }
}
@media (width < 800px) {
  .footer a {
    font-size: 2rem;
    font-weight: initial;
  }
}

.footer__slogan {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (width < 1200px) {
  .footer__slogan {
    position: inherit;
    top: inherit;
    left: inherit;
    transform: none;
  }
}
.footer__slogan p {
  font-size: 1.5rem;
  color: #999999;
  font-weight: initial;
  text-align: center;
}
.footer__slogan p span:first-child {
  margin-right: 70px;
}
@media (width < 380px) {
  .footer__slogan p span:first-child {
    margin-right: 50px;
  }
}
.footer__slogan p span:last-child {
  margin-left: 70px;
}
@media (width < 380px) {
  .footer__slogan p span:last-child {
    margin-left: 50px;
  }
}

.layout_one-column {
  display: flex;
  flex-direction: column;
  border: 1px solid #1d1e0f;
}

.about-order {
  padding: 0 60px 60px;
}

.about-order__link {
  font-size: 1.5rem;
  color: #8f9a92;
  font-weight: initial;
  text-transform: uppercase;
}
.about-order__link::after {
  background-color: #8f9a92;
}/*# sourceMappingURL=main.css.map */