.clearfix::before, .clearfix::after {
  display: table;
  content: " ";
}

.clearfix::after {
  clear: both;
}

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
	 ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
	 ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

header, nav, section, article, aside, footer, main {
  display: block;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

ul, ol {
  list-style: none;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@font-face {
  font-family: "evolventabold";
  src: url("../fonts/evolventa-bold.woff2") format("woff2"), url("../fonts/evolventa-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "evolventaregular";
  src: url("../fonts/evolventa-regular.woff2") format("woff2"), url("../fonts/evolventa-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: "evolventaregular", Arial, Helvetica, sans-serif;
}

.hero__slogan, .main-nav__logo, h2 {
  font-family: "evolventabold", Arial, Helvetica, sans-serif;
}

html {
  font-size: 10px;
  color: #1d1e0f;
  font-weight: initial;
}

body {
  background-color: #fff;
}

.wrapper {
  width: 100%;
}

.content-wrapper {
  padding: 0 65px;
}

h2 {
  font-size: 7rem;
  font-weight: initial;
}

p {
  font-size: 2.4rem;
  color: #414542;
  font-weight: initial;
  line-height: 1.4;
  text-align: justify;
}

a {
  font-size: 1.7rem;
  font-weight: initial;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}
a:hover {
  cursor: pointer;
  opacity: 0.5;
}

.sections-header {
  display: flex;
  padding-left: 65px;
  padding-top: 58px;
  padding-bottom: 45px;
  text-transform: uppercase;
}
.sections-header span {
  flex-grow: 1;
  position: relative;
  color: #fff;
  font-weight: initial;
  background-color: #1d1e0f;
}
.sections-header span::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 9px;
  top: 0;
  background-color: #fff;
}
.sections-header span::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 20px;
  bottom: 0;
  background-color: #fff;
}

.icon {
  display: block;
  width: 25px;
  height: 25px;
  transition: all 0.3s;
  background-size: contain;
  cursor: pointer;
}
.icon_telegram {
  background-image: url(../img/icons/telegram.svg);
}
.icon_instagram {
  background-image: url(../img/icons/instagram.svg);
}
.icon_vk {
  background-image: url(../img/icons/vk.svg);
}
.icon:hover {
  opacity: 0.5;
  scale: 120%;
}

.button {
  position: relative;
  display: inline-block;
  padding: 20px 20px 14px;
  border: none;
  font-size: 2.5rem;
  color: #fff;
  font-weight: initial;
  line-height: 1.25;
  text-transform: uppercase;
  background-color: #e2504d;
  transition: all 0.3s;
  cursor: pointer;
}
.button:hover {
  background-color: #f0a6a5;
  scale: 110%;
}
.button:disabled {
  opacity: 0.25;
  cursor: default;
}

.main-header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  height: 100vh;
  min-height: 780px;
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
}

.main-nav {
  display: flex;
  align-items: center;
  padding: 24px 40px;
}

.main-nav__logo {
  font-size: 2.4rem;
  font-weight: initial;
  text-transform: uppercase;
  padding-right: 40px;
}

.main-nav__list, .main-social-list {
  display: flex;
}

.main-nav__list {
  margin-top: 2px;
}

.main-nav__item {
  padding-right: 25px;
}

.main-nav__link {
  position: relative;
  padding: 10px 0;
  font-size: 1.5rem;
  font-weight: initial;
}

.main-nav__link::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 5px;
  width: 0;
  height: 2px;
  background-color: #fff;
  opacity: 0.5;
  transition: width 0.3s ease-out;
}

.main-nav__link:hover::after {
  width: 100%;
}

.main-nav__phone {
  margin-top: 4px;
  margin-left: auto;
}

.main-social-list__item {
  padding-left: 20px;
}
.main-social-list__item:first-child {
  padding-left: 40px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 65px 65px;
  height: 100%;
  position: relative;
}

.hero__slogan {
  padding-top: 80px;
  font-size: 4.5rem;
  font-weight: initial;
  line-height: 1.35;
  text-transform: uppercase;
}
.hero__slogan span {
  font-size: 7rem;
  font-weight: initial;
}

.hero-services__list {
  padding-top: 100px;
  font-size: 2.6rem;
  font-weight: initial;
  line-height: 1.7;
  letter-spacing: 2px;
  padding-left: 30px;
}

.hero-services__item {
  position: relative;
}

.hero-services__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  left: -24px;
  border-radius: 100%;
  background-color: #fff;
  top: 50%;
  transform: translateY(calc(-50% - 1px));
}

.hero__button {
  margin-top: auto;
  padding: 35px 60px;
  letter-spacing: 6px;
}

.about-me {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
  padding: 65px;
  padding-right: 0;
  padding-bottom: 0;
}

.about-me__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 55;
  padding-left: 65px;
}

.about-me__image-placeholder {
  flex: 45;
  position: relative;
}
.about-me__image-placeholder::after {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  background-color: #1d1e0f;
  top: -15px;
  left: -15px;
}

.about-me__image {
  width: 100%;
  height: auto;
}

.about-me__headline {
  display: flex;
  text-transform: uppercase;
  margin-bottom: 36px;
}
.about-me__headline span {
  flex-grow: 1;
  margin-left: 15px;
  padding-left: 10px;
  padding-top: 7px;
  margin-top: -7px;
  color: #fff;
  background-color: #1d1e0f;
}

.about-me__text-placeholder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 65px;
}

.about-me__text {
  flex-grow: 1;
  margin: 0;
  padding-bottom: 65px;
  background-image: url(../img/flower.png);
  background-position: bottom center;
  background-repeat: no-repeat;
}

.about-me__slogan {
  margin: 0;
  padding-top: 65px;
  position: relative;
  color: #e2504d;
  font-weight: initial;
  border-top: 1px solid #1d1e0f;
}
.about-me__slogan::after {
  content: "";
  position: absolute;
  display: block;
  height: 14px;
  width: 14px;
  background-color: #1d1e0f;
  border: 4px solid #fff;
  border-radius: 100%;
  top: -7px;
  left: calc(50% - 7px);
}

.services .content-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 33px;
  margin: -33px 0;
}

.service-block {
  width: 50%;
  padding: 33px;
}

.service-block__image {
  height: 150px;
  border: 1px solid #1d1e0f;
  background-image: url(../img/service-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.service-block__main-content {
  padding: 0 30px;
  border-left: 1px solid #1d1e0f;
  border-right: 1px solid #1d1e0f;
}

.service-block__header {
  padding: 30px 0 21px;
  position: relative;
  font-size: 4.5rem;
  font-weight: initial;
  text-transform: uppercase;
  border-bottom: 1px solid #1d1e0f;
}
.service-block__header::after {
  content: "";
  position: absolute;
  display: block;
  height: 14px;
  width: 14px;
  background-color: #1d1e0f;
  border: 4px solid #fff;
  border-radius: 100%;
  bottom: -7px;
  left: calc(50% - 7px);
}

.service-block__about {
  margin: 0;
  padding: 30px 0;
  font-size: 2rem;
  font-weight: initial;
}

.service-block__price-content {
  display: flex;
  align-items: flex-end;
  position: relative;
  padding: 30px;
  padding-top: 0;
  border: 1px solid #1d1e0f;
  border-top: 0;
}
.service-block__price-content > * {
  flex-grow: 1;
}

.service-block__price-block {
  display: flex;
  flex-direction: column;
}

.price-block__price-option:first-child {
  padding-bottom: 15px;
}
.price-block__price-option > * {
  display: block;
}

.price-block__header {
  font-size: 1.5rem;
  color: #8f9a92;
  font-weight: initial;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.price-block__price {
  font-family: "evolventabold", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #1d1e0f;
  font-weight: initial;
  text-transform: uppercase;
}

.portfolio__about {
  padding-bottom: 33px;
}
.portfolio__about p {
  margin: 0;
}

.slider {
  position: relative;
}
.slider img {
  height: 100%;
  width: auto;
  margin-right: 33px;
}

.slider__image-placeholder {
  display: flex;
  overflow: hidden;
  max-height: 400px;
}

.slider__button {
  position: absolute;
  height: 90px;
  width: 90px;
  overflow: hidden;
  text-indent: 100px;
  cursor: pointer;
  border-radius: 100%;
  top: calc(50% - 45px);
  background-color: #e6e6e6;
  transition: 0.3s all;
}
.slider__button::before {
  content: "";
  position: absolute;
  display: block;
  width: 90px;
  height: 90px;
  background-image: url(../img/arrows.png);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
}
.slider__button:hover {
  transform: scale(1.2);
  opacity: 0.7;
}

.slider__button_left {
  left: -45px;
}

.slider__button_right {
  right: -45px;
  transform: rotate(180deg);
}
.slider__button_right:hover {
  transform: rotate(180deg) scale(1.2);
}

.styles-card {
  display: flex;
  border: 1px solid #1d1e0f;
}
.styles-card button {
  width: 100%;
}

.styles-card__text-placeholder {
  flex: 1;
  padding: 63px;
  border-right: 1px solid #1d1e0f;
}

.styles-card__slider-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
  padding: 63px;
}
.styles-card__slider-placeholder img {
  width: 100%;
}

.styles-card__header {
  text-align: center;
  text-transform: uppercase;
}
.styles-card__header h3, .styles-card__header span {
  font-size: 6.5rem;
  font-weight: initial;
}

.style-card__name-divider {
  line-height: 0.2;
}

.styles-card__style-name {
  display: block;
  color: #e2504d;
  font-weight: initial;
  line-height: 1;
}

.styles-card__about-style span {
  color: #e2504d;
  font-weight: initial;
}/*# sourceMappingURL=main.css.map */