@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap");
.clearfix::before, .promo__logo h1::before, .promo__logo p::before, .clearfix::after, .promo__logo h1::after, .promo__logo p::after {
  display: table;
  content: " ";
}

.clearfix::after, .promo__logo h1::after, .promo__logo p::after {
  clear: both;
}

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
	 ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
	 ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

header, nav, section, article, aside, footer, main {
  display: block;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

ul, ol {
  list-style: none;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

html {
  font-family: "JetBrains Mono", Helvetica, Verdana, Arial, sans-serif;
}

html {
  font-size: 10px;
  color: #4c101a;
  font-weight: 100;
}

body {
  background-color: #fcfbf7;
}

.wrapper {
  width: 100%;
}

h2 {
  font-size: 8rem;
  color: #4c101a;
  font-weight: 200;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}
a:hover {
  opacity: 0.5;
}

.icon {
  display: block;
  width: 25px;
  height: 25px;
  transition: all 0.3s;
  background-size: contain;
  cursor: pointer;
}
.icon_telegram {
  background-image: url(../img/icons/telegram.svg);
}
.icon_instagram {
  background-image: url(../img/icons/instagram.svg);
}
.icon_vk {
  background-image: url(../img/icons/vk.svg);
}
.icon:hover {
  opacity: 0.5;
  scale: 120%;
}

.button {
  position: relative;
  display: inline-block;
  padding: 20px;
  border: none;
  font-size: max(2rem, 2vw);
  color: #fcfbf7;
  font-weight: 100;
  line-height: 1;
  text-transform: uppercase;
  background-color: #de1388;
  transition: all 0.3s;
  cursor: pointer;
}
.button_promo {
  margin-left: auto;
}
@media (width <= 850px) {
  .button_promo {
    margin-right: 35px;
  }
}
.button:hover {
  background-color: #f694cc;
  scale: 110%;
}
.button:disabled {
  opacity: 0.25;
  cursor: default;
}

.main-header {
  display: flex;
  flex-direction: column-reverse;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 35px 17px 85px;
  border-bottom: 1px solid #4c101a;
}
@media (width <= 850px) {
  .main-nav {
    padding-left: 35px;
  }
}

.main-nav__list, .main-social-list {
  display: flex;
  flex-direction: row;
}

.main-nav__item {
  padding-right: 25px;
}

.main-nav__link {
  position: relative;
  padding: 10px 0;
  font-size: 1.5rem;
  font-weight: initial;
}

.main-nav__link::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 6px;
  width: 0;
  height: 2px;
  background-color: #4c101a;
  opacity: 0.5;
  transition: width 0.3s ease-out;
}

.main-nav__link:hover::after {
  width: 100%;
}

.main-social-list__item {
  padding-left: 35px;
}
.main-social-list__item:first-child {
  padding-left: 0;
}

.promo {
  display: flex;
  min-height: calc(100vh - 60px);
  background-image: url(../img/promo-bg.jpg);
  background-size: 678px 691px;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.promo__about-placeholder {
  display: flex;
  flex-direction: column;
  flex: 13;
}

.promo__logo {
  text-transform: uppercase;
  width: 100%;
}
.promo__logo p {
  display: block;
  margin: 0;
  padding: 0.3em 80px;
  font-size: 6.4vw;
  font-weight: 200;
  line-height: 1;
  letter-spacing: 0.1vw;
}
@media (width <= 850px) {
  .promo__logo p {
    font-size: 8vw;
    padding-left: 35px;
    padding-right: 35px;
  }
}
.promo__logo p span {
  float: right;
}
.promo__logo h1 {
  padding: 1.5em 85px;
  background-color: #4c101a;
  font-size: max(1.5rem, 1.4vw);
  color: white;
  font-weight: 100;
  line-height: 1.25;
  letter-spacing: 0.7vw;
  word-spacing: -0.25vw;
  text-align: center;
}
@media (width <= 850px) {
  .promo__logo h1 {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.promo__text-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding: 0 85px;
}
@media (width <= 850px) {
  .promo__text-placeholder {
    padding-left: 35px;
    padding-right: 35px;
    justify-content: space-evenly;
  }
}

.attention-text {
  margin: 0;
  font-size: max(2rem, 2vw);
  color: #de1388;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0.08vw;
  word-spacing: -0.25vw;
}

.promo__slogan span {
  text-align: right;
  float: right;
}

.promo-services__list {
  font-size: max(1.7rem, 1.6vw);
  font-weight: 400;
  line-height: 1;
}

.promo-services__item:nth-child(2) {
  padding: 10px 0;
}

.promo-services__item::after {
  content: "✓";
  margin-left: 1em;
}

.promo__image-placeholder {
  flex: 8;
  border-left: 1px solid #4c101a;
}

.promo__image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-me {
  display: flex;
  flex-direction: row-reverse;
  border-top: 1px solid #4c101a;
  background-image: url(../img/about-me-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.about-me__text-placeholder {
  padding: 50px 0 50px 80px;
  flex: 7;
}

.about-me__image-placeholder {
  flex: 3;
  border-right: 1px solid #4c101a;
}

.about-me__headline {
  display: flex;
}
.about-me__headline span {
  flex-grow: 1;
  margin-left: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  color: #fcfbf7;
  background-color: #4c101a;
}

.about-me__information {
  margin: 100px 0;
  padding-right: 80px;
  text-align: end;
}

.about-me__slogan {
  position: relative;
  padding: 0 80px 0 160px;
  font-size: max(1.7rem, 1.6vw);
  font-weight: 400;
  line-height: 1;
  text-align: justify;
}
.about-me__slogan::before {
  content: "";
  position: absolute;
  display: block;
  height: 92px;
  width: 106px;
  left: 0;
  transform: translateY(-25%);
  background-image: url(../img/arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
}/*# sourceMappingURL=main.css.map */