.layout_one-column {
  display: flex;
  flex-direction: column;

  border: 1px solid $color-text-main
}

.about-order {
  align-items: flex-start;
  margin: 60px;
  padding: 0 60px 30px;

  @media (width < $media-tablet) {
    margin: 30px;
    padding: 0 30px 30px;
  }

  & .contacts-list {
    margin: 10px 0 30px;
  }
}

.about-order__header {
  align-self: stretch;

  @media (width < $media-tablet) {
    text-align: center;
  }
}

.about-order__link {

  @include font-source(1.5rem, $color: $color-text-mini);
  text-transform: uppercase;

  &::after {
    background-color: $color-text-mini;
  }
}
