.about-me {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  position: relative;

  padding: 65px;
  padding-right: 0;
  padding-bottom: 0;
}

.about-me__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 55;
  padding-left: 65px;
}

.about-me__image-placeholder {
  flex: 45;
  position: relative;

  &::after {
    @include pseudo();
    height: 30px;
    width: 30px;
    background-color: $color-text-main;

    top: -15px;
    left: -15px;
  }
}

.about-me__image {
  width: 100%;
  height: auto;
}

.about-me__headline {
  display: flex;
  text-transform: uppercase;
  margin-bottom: 36px;

  & span {
    flex-grow: 1;

    margin-left: 15px;
    padding-left: 10px;
    padding-top: 7px;
    margin-top: -7px;

    color: $color-page-bg;
    background-color: $color-text-main;
  }
}

.about-me__text-placeholder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding-right: 65px;
}

.about-me__text {
  flex-grow: 1;
  margin: 0;

  padding-bottom: 65px;

  background-image: url(../img/flower.png);
  background-position: bottom center;
  background-repeat: no-repeat;
}

.about-me__slogan {
  margin: 0;
  padding: 65px 0;
  position: relative;

  @include font-source($color: $color-page-attention);

  border-top: 1px solid $color-text-main;

  &::after {
    @include pseudo();

    height: 14px;
    width: 14px;
    background-color: $color-text-main;
    border: 4px solid $color-page-bg;
    border-radius: 100%;

    top: calc(0px - 7px);
    left: calc(50% - 7px);
  }
}
