.button {
  position: relative;
  display: inline-block;
  padding: 20px 20px 14px;
  border: none;
  @include font-source(2.5rem, $color: $color-page-bg);

  text-transform: uppercase;

  background-color: $color-page-attention;

  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background-color: lighten($color-page-attention, 20%);
    scale: 110%;
  }

  &:disabled {
    opacity: 0.25;

    cursor: default;
  }
}
