.contacts-card__text-placeholder, .contacts-card__form-placeholder {
  padding: 60px 30px;
  outline: 1px solid $color-text-main;
}

.contacts-card__form-placeholder {
  min-width: 260px;
  display: flex;
  flex-direction: column;

  background-color: $color-form-bg-dark;
}

.contacts-card__form-placeholder .contacts-card__header::after {
  border-color: $color-form-bg-dark;
}

.contacts-card__header {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;

  @include font-source(4rem);
  text-transform: uppercase;

  border-bottom: 1px solid $color-text-main;

  &::after {
    @include pseudo();

    height: 14px;
    width: 14px;
    background-color: $color-text-main;
    border: 4px solid $color-page-bg;
    border-radius: 100%;

    bottom: calc(0px - 7px);
    left: calc(50% - 7px);
  }

  @media (width < $media-tablet) {
    @include font-source(7vw);

  }
}

.contacts-card__about-contacts {
  margin: 30px 0 64px;

  &:last-child {
    margin: 64px 0 30px;

  }
}

.contacts-list {
  padding-left: 26px;

  @media (width < $media-tablet) {
    padding-left: 0;
  }
}

.contacts-list__item {
  padding-bottom: 30px;

  &:last-child {
    padding-bottom: 0;
  }

  & a {
    display: flex;
    align-items: center;

    @include font-source(2.5rem);
    text-transform: uppercase;

    @media (width < $media-tablet) {
      @include font-source(4.3vw);
    }
  }
}

.contacts-card__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 26px;

  background-size: cover;
  background-repeat: no-repeat;

  @media (width < $media-tablet) {
    margin-right: 12px;
  }

  &_phone {
    background-image: url(../img/icons/phone.svg);
  }

  &_email {
    background-image: url(../img/icons/email.svg);
  }

  &_twit {
    background-image: url(../img/icons/telegram_black.svg);
  }

  &_inst {
    background-image: url(../img/icons/instagram_black.svg);
  }
}

.contacts-card__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 30px;

  & > input, textarea {
    width: 100%;

    padding: 25px;
    margin-bottom: 30px;

    background-color: $color-form-bg;
    border: 0;

    resize: vertical;

    @include font-source(2.5rem, $color: $color-text-mini);

    &:focus {
      outline: 1px solid $color-text-main;
    }

    &::placeholder {
      @include font-source(2.5rem, $color: $color-text-form);

      @media (width < $media-tablet) {
        @include font-source(2rem);
      }
    }

    @media (width < $media-tablet) {
      @include font-source(2rem);
      padding: 20px;
    }
  }

  & textarea {
    min-height: 160px;
  }
}

.connection-form__personal-data-placeholder {
  display: flex;
  margin-bottom: 30px;

  @include font-source(1.5rem);
  text-transform: uppercase;

  & label {
    display: flex;
    align-items: center;
    cursor: pointer;

    @media (width < $media-tablet) {
      align-items: start;
    }
  }
}

.connection-form__button {
  margin-top: auto;
  align-self: flex-end;

  @media (width < $media-tablet) {
    align-self: stretch;
  }
}

.connection-form__data-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.connection-form__checkbox-style {
  flex-shrink: 0;
  margin-right: 10px;
  margin-bottom: 3px;
  width: 24px;
  height: 24px;

  border: 2px solid $color-text-main;
  background-color: $color-form-bg;
}

.connection-form__data-checkbox:checked + .connection-form__checkbox-style {
  background-image: url(../img/icons/circle.svg);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}
