.hero {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
  height: 100%;
  padding: 60px;

  @media (width < $media-tablet) {
    justify-content: space-evenly;
    align-items: stretch;
    margin-top: 75px;
    padding: 0 30px;
  }
}

// СТИЛИ ЗАГОЛОВКА

.hero__slogan {
  @extend %second-font;
  @include font-source(4.5rem, 1.35);
  text-transform: uppercase;
  text-shadow: 0px 10px 20px $color-text-paragraph;

  @media (width < $media-tablet) {
    text-align: center;
    @include font-source(6vw);
  }

  & span {
    @include font-source(1.1em);
  }
}

// СТИЛИ КАРТИНКИ ДЛЯ МОБИЛЬНЫХ

.hero__image-placeholder {
  width: 213px;
  height: 213px;
  align-self: center;
  overflow: hidden;

  border-radius: 100%;
  border: 5px solid $color-form-bg;
  box-shadow: 0px 5px 20px $color-text-paragraph;

  @media (width >=$media-tablet) {
    display: none;
  }
}

.hero__master-image {
  width: 100%;
  height: auto;
}

// СТИЛИ ПЕРЕЧНЯ ОСНОВНЫХ УСЛУГ

.hero-services__list {
  @include font-source(2.6rem, 1.7);
  padding-left: 30px;

  @media (width < $media-tablet) {
    padding-left: 0;
    @include font-source(4.5vw);
  }
}

.hero-services__item {
  position: relative;

  @media (width < $media-tablet) {
    text-align: center;
  }
}

.hero-services__item::before {
  @include pseudo();
  width: 8px;
  height: 8px;
  left: -24px;

  border-radius: 100%;
  background-color: $color-page-bg;

  top: 50%;
  transform: translateY(calc(-50% - 1px));

  @media (width < $media-tablet) {
    display: none;
  }
}

// СТИЛИ ДЛЯ КНОПКИ

.hero__button {
  padding: 30px 50px;
  letter-spacing: 2px;

  @media (width < $media-tablet) {
    align-self: center;
    padding: 1em 1em 0.9em;
    @include font-source(4vw);
  }
}
