.main-header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;

  height: 100vh;
  width: 100%;
  min-height: 720px;

  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-size: cover;

  color: $color-page-bg;

  @media (width < $media-tablet) {
    min-height: 640px;
    background-image: url(../img/mobile-bg.jpg);
    background-position: top;
  }
}

// СТИЛЬ ВЕРХНЕГО БЛОКА ДЛЯ ЛОГО И МЕНЮ

.main-nav {
  display: flex;
  align-items: center;
  padding: 24px 40px;

  @media (width < $media-tablet) {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;

    background-color: darken($color: $color-text-mini, $amount: 20);
  }
}

// СТИЛЬ ЛОГОТИПА

.main-nav__logo {
  position: relative;
  padding-right: 40px;

  @extend %second-font;
  @include font-source(2.4rem);
  text-transform: uppercase;

  &::after {
    display: none;
  }

  &:hover {
    transform: scale(1.2);
  }

  @media (width < $media-tablet) {
    z-index: 2;
    padding-right: 0;
  }
}

// СТИЛИ НАВИГАЦИОННОГО МЕНЮ

.main-nav__list, .main-social-list {
  display: flex;
}

.main-nav__list {
  margin-top: 2px;

  @media (width < 900px) {
    margin-left: auto;
  }

  @media (width < $media-tablet) {
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 100%;
    height: 100vh;
    padding: 115px 40px;
    margin: 0;
    z-index: 1;

    background-color: $color-text-mini;
    transition: 0.3s all;
  }
}

.main-nav__item {
  padding-right: 25px;

  @media (width < 900px) {
    &:last-child {
      padding-right: 0;
    }
  }

  @media (width < $media-tablet) {
    margin-bottom: 30px;
    padding-right: 0;
  }
}

.main-nav__link {
  position: relative;
  padding: 10px 0;

  @include font-source(1.5rem);

  @media (width < $media-tablet) {
    @include font-source(2.6rem)
  }

  &::after {
    bottom: 6px;
  }
}

// СТИЛЬ НОМЕРА ТЕЛЕФОНА

.main-nav__phone {
  margin-top: 4px;
  margin-left: auto;

  @media (width < 1070px) {
    display: none;
  }
}

// СТИЛИ СОЦИАЛЬНЫХ СЕТЕЙ

.main-social-list {

  @media (width < 1070px) {
    margin-left: auto;
  }

  @media (width < 900px) {
    display: none;
  }

  @media (width < $media-tablet) {
    display: flex;
    z-index: 0;
    margin-left: 0;
  }
}

.main-social-list__item {
  padding-left: 20px;

  &:first-child {
    padding-left: 40px;

    @media (width < 1070px) {
      padding-left: 0;
    }
  }

  & a::after {
    display: none;
  }
}

// КНОПКА БУРГЕР

.burger {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26px;
  width: 26px;
  margin-top: -5px;

  cursor: pointer;
  transition: 0.3s all;

  & span {
    width: 100%;
    height: 3px;

    background-color: $color-page-bg;
    border-radius: 2px;
  }

  &_active {
    transform: rotate(90deg);
  }

  @media (width >=760px) {
    display: none;
  }
}

// СТИЛЬ НАВИГАЦИОННОГО МЕНЮ ПРИ ПОКАЗЕ ДЛЯ ТЕЛЕФОНОВ

.main-nav__list_show {
  transform: translateX(100%);
  box-shadow: 0 10px 20px darken($color: $color-text-mini, $amount: 40);

  &::before {
    @include pseudo();
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0, 0, 50%);
  }
}
