.main-header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;

  height: 100vh;
  min-height: 780px;

  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-size: cover;

  color: $color-page-bg;
}

.main-nav {
  display: flex;
  align-items: center;
  padding: 24px 40px;
}

.main-nav__logo {
  @extend %second-font;
  @include font-source(2.4rem);
  text-transform: uppercase;

  padding-right: 40px;
}

.main-nav__list, .main-social-list {
  display: flex;
}

.main-nav__list {
  margin-top: 2px;
}

.main-nav__item {
  padding-right: 25px;
}

.main-nav__link {
  position: relative;
  padding: 10px 0;
  @include font-source(1.5rem)
}

.main-nav__link::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 5px;
  width: 0;
  height: 2px;

  background-color: $color-page-bg;
  opacity: 0.5;

  transition: width 0.3s ease-out;
}

.main-nav__link:hover::after {
  width: 100%;
}

.main-nav__phone {
  margin-top: 4px;
  margin-left: auto;
}

.main-social-list__item {
  padding-left: 20px;

  &:first-child {
    padding-left: 40px;
  }
}
