.portfolio__about {
  padding-bottom: 30px;

  & p {
    margin: 0;
  }
}

.slider {
  position: relative;

  & > img {
    margin: 0 16px;
  }

}

.slider__image-placeholder {
  display: flex;
  overflow: hidden;

  max-height: 400px;

  @media (width < $media-tablet) {
    > img {
      min-width: 100%;
      height: auto;
    }
  }
}

.slider__button {
  position: absolute;
  height: 90px;
  width: 90px;
  overflow: hidden;
  text-indent: 100px;

  cursor: pointer;

  border-radius: 100%;

  top: calc(50% - 45px);

  background-color: #e6e6e6;

  transition: 0.3s all;

  &::before {
    @include pseudo();
    width: 90px;
    height: 90px;

    background-image: url(../img/arrows.png);
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.2;
  }

  &:hover {
    transform: scale(1.2);
    opacity: 0.7;
  }
}

.slider__button_left {
  left: -45px;
}

.slider__button_right {
  right: -45px;
  transform: rotate(180deg);

  &:hover {
    transform: rotate(180deg) scale(1.2);
  }
}
