.review-card {
  width: 50%;
  margin: 0 30px;

  padding: 30px;

  border: 1px solid $color-text-main;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.review-card__header-placeholder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  margin-bottom: 20px;

  & img {
    border-radius: 100%;
    max-width: 220px;
    padding: 15px;
  }
}

.review-card__header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.review-card__customer-name {
  @include font-source(4.5rem);
  text-transform: uppercase;

  margin-bottom: 15px;
}


.review-card__about-service {
  @include font-source(1.5rem, $color: $color-text-mini);
  text-transform: uppercase;

  padding-bottom: 5px;
}

.review-card__service-name {
  @extend %second-font;
  @include font-source(1.5rem);
  text-transform: uppercase;
}

.review-card__text-placeholder {
  margin-top: 20px;

  text-align: right;

  & p {
    margin-top: 0;
    margin-bottom: 30px;
  }

}

.review__customer-link {
  @include font-source(1.5rem, $color: $color-text-mini);
  text-transform: uppercase;

  &::after {
    background-color: $color-text-mini;
  }
}

.reviews .slider__image-placeholder {
  max-height: none;
  flex-wrap: nowrap;
}

.reviews .review-card {
  @media (width < $media-tablet) {
    min-width: 100%;
  }
}
