.review-card {
  width: 50%;
  padding: 30px;
  border: 1px solid $color-text-main;
  margin: 0 30px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.review-card__header-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  & img {
    border-radius: 100%;
    max-width: 213px;
  }

  @media (width < 1300px) {
    flex-direction: column;
  }
}

.review-card__header {
  display: flex;
  flex-direction: column;
  margin-left: 30px;

  @media (width < 1300px) {
    margin: 0;
    padding-top: 30px;
  }
}

.review-card__customer-name {
  @include font-source(4.5rem);
  text-transform: uppercase;

  @media (width < 1300px) {
    padding-bottom: 15px;
    @include font-source(8vw);
    text-align: center;
  }
}


.review-card__about-service {
  text-transform: uppercase;
  @include font-source(1.5rem, $color: $color-text-mini);

  @media (width < 1300px) {
    text-align: center;
    padding-bottom: 7px;
  }
}

.review-card__service-name {
  @extend %second-font;
  @include font-source(1.5rem);
  text-transform: uppercase;

  @media (width < 1300px) {
    text-align: center;
  }
}

.review-card__text-placeholder {
  text-align: right;
  padding-top: 30px;

  & p {
    margin-top: 0;
    margin-bottom: 30px;
  }

  @media (width < 400px) {
    text-align: center;
  }
}

.review__customer-link {
  @include font-source(1.5rem, $color: $color-text-mini);
  text-transform: uppercase;
  text-align: right;

  &::after {
    background-color: $color-text-mini;
  }
}

.reviews .slider__image-placeholder {
  max-height: none;
  flex-wrap: nowrap;
}

.reviews .review-card {
  @media (width < 900px) {
    min-width: 100%;
  }
}
