.services {

  & .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
  }
}

.service-block {
  width: 50%;
  padding: 30px;

  @media (width >=800px) {
    &:nth-child(-n+2) {
      padding-top: 0;
    }

    &:nth-child(n+2) {
      padding-bottom: 0;
    }
  }

  @media (width < 800px) {
    width: 100%;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  @media (width < $media-tablet) {
    padding: 0 0 30px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.service-block__image {
  height: 150px;
  border: 1px solid $color-text-main;

  background-image: url(../img/service-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.service-block__main-content {
  padding: 0 30px;
  border-left: 1px solid $color-text-main;
  border-right: 1px solid $color-text-main;
}

.service-block__header {}

.service-block__about {
  margin: 0;
  padding: 30px 0;
  @include font-source(2rem);
}

.service-block__price-content {
  display: flex;
  align-items: flex-end;
  position: relative;
  padding: 30px;
  padding-top: 0;

  border: 1px solid $color-text-main;
  border-top: 0;

  & > * {
    flex-grow: 1;
  }

  @media (width < 900px) {
    flex-direction: column;
    align-items: stretch;
  }

  @media (width < 800px) {
    flex-direction: row;
    align-items: flex-end;
  }

  @media (width < $media-tablet) {
    flex-direction: column;
    align-items: stretch;
  }
}

.price-block {

  @media (width < 900px) {
    padding-bottom: 30px;
  }

  @media (width < 800px) {
    padding-bottom: 0;
  }
}

.service-block__price-block {
  display: flex;
  flex-direction: column;
}

.price-block__price-option {

  &:first-child {
    padding-bottom: 15px;
  }

  & > * {
    display: block;
  }

  @media (width < $media-tablet) {
    padding-bottom: 30px;
  }
}

.price-block__header {
  @include font-source(1.5rem, $color: $color-text-mini);
  text-transform: uppercase;
  padding-bottom: 5px;
}

.price-block__price {
  font-family: $second-font;
  @include font-source(1.5rem, $color: $color-text-main);
  text-transform: uppercase;

}
