.styles-card {
  display: flex;
  border: 1px solid $color-text-main;

  & button {
    width: 100%;
  }

  @media (width < 900px) {
    flex-direction: column-reverse;
  }
}

.styles-card__text-placeholder {
  flex: 1;
  padding: 60px;

  border-right: 1px solid $color-text-main;

  @media (width < 900px) {
    border-right: none;
    border-top: 1px solid $color-text-main;
  }

  @media (width < $media-tablet) {
    padding: 30px;
  }
}

.styles-card__slider-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  flex: 1;
  padding: 60px;

  @media (width < $media-tablet) {
    padding: 30px;
  }

  & img {
    width: 100%;
  }
}

.styles-card__header {
  text-align: center;
  text-transform: uppercase;

  & h3, span {
    @include font-source(6.5rem);
  }

  @media (width < $media-tablet) {

    & h3, span {
      @include font-source(8vw);
    }
  }
}

.style-card__name-divider {
  line-height: 0.2;
}

.styles-card__style-name {
  display: block;
  @include font-source($lh: 1, $color: $color-page-attention);
}

.styles-card__about-style {

  & span {
    @include font-source($color: $color-page-attention)
  }
}

.styles-card__button {
  @media (width < $media-tablet) {
    @include font-source(2rem)
  }
}
