html {
  @extend %main-font;
  @include font-source($size: 10px, $color: $color-text-main);
}

body {
  background-color: $color-page-bg;
}

.wrapper {
  overflow: hidden;
  width: 100%;
}

.content-wrapper {
  padding: 0 65px;
}

.block {
  &_double {
    display: flex;

    & > * {
      flex: 1;
    }
  }
}

h2 {
  @extend %second-font;
  @include font-source(7rem);

  @media (width < $media-tablet) {

    @include font-source(5rem);
  }
}

p {
  @include font-source(2.4rem, 1.4, $color: $color-text-paragraph);
  text-align: justify;
}

a {
  @include font-source(1.7rem);
  color: inherit;
  text-decoration: none;

  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;

    opacity: 0.5;
  }
}

.sections-header {
  display: flex;

  padding-left: 65px;
  padding-top: 58px;
  padding-bottom: 45px;

  text-transform: uppercase;

  & span {
    flex: 1;
    position: relative;
    margin-left: 20px;

    @include font-source($color: $color-page-bg);
    background-color: $color-text-main;

    &::before {
      @include pseudo();
      width: 100%;
      height: 9px;

      top: 0;

      background-color: $color-page-bg;
    }

    &::after {
      @include pseudo();
      width: 100%;
      height: 18px;

      bottom: 0;

      background-color: $color-page-bg;
    }
  }
}
