$color-page-bg: #fff;
$color-form-bg: #fafafa;
$color-form-bg-dark: #f0f0f0;
$color-text-main: #1d1e0f;
$color-text-paragraph: #414542;
$color-text-mini: #8f9a92;
$color-text-form: #bcc6be;
$color-page-attention: #e2504d
